<div class="col-sm-6">
  <div class="card">
    <div class="card-header">
      <strong>โปรแกรมดอกรี่</strong>
      <small>Form</small>
    </div>
    <div class="card-body">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">rating_bus</label>
              <input type="text" class="form-control" id="name" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">speed</label>
              <input type="text" class="form-control" id="name" placeholder="">
            </div>
          </div>
        </div>
        <!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">time</label>
              <input type="text" class="form-control" id="ccnumber" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">distance</label>
              <input type="text" class="form-control" id="ccnumber" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">rating</label>
              <input type="text" class="form-control" id="ccnumber" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">rating_bus</label>
              <input type="text" class="form-control" id="ccnumber" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccnumber">rating_weather</label>
              <input type="text" class="form-control" id="ccnumber" placeholder="">
            </div>
          </div>
        </div>
        <!--/.row-->
        <button class="btn btn-success">Bus or Car</button>

      </div>
    </div>
  </div>
</div>
<!--/.col-->