<div class="animated fadeIn">

  
  <!--/.card-->
  <div class="row">
    <!--/.col-->
    
      <div  (click)="feedNormal2(2)" class="col-6 col-lg-4">
        <div class="card">
          <div style="background-color:#d9edf6;"  class="card-body p-3 clearfix">
            <i style="background-color:#d9edf6; color:#00588a;"  class="fa fa-file-text-o  p-1 font-5xl mr-3 float-left"></i>
            <div style=" color:#00588a;"  class="h2 mb-0 mt-2">New : {{new}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">ใหม่</div>
          </div>
          <div class="card-footer px-3 py-2">
            <a class="font-weight-bold font-xs btn-block text-muted">All New Status <i class="fa fa-angle-right float-right font-lg"></i></a>
          </div>
        </div>
      </div>
      <div  (click)="feedNormal2(3)" class="col-6 col-lg-4">
        <div class="card">
          <div style="background-color:#418bca;"  class="card-body p-3 clearfix">
            <i style="background-color:#418bca; color:#FFFFFF;"  class="fa fa-thumbs-o-up  p-1 font-5xl mr-3 float-left"></i>
            <div style=" color:#FFFFFF;"  class="h2 mb-0 mt-2">Approved : {{approve}}</div>
            <div style=" color:#FFFFFF;"  class=" text-uppercase font-weight-bold font-xs">อนุมัติ</div>
          </div>
          <div class="card-footer px-3 py-2">
            <a class="font-weight-bold font-xs btn-block text-muted">All Approved Status <i class="fa fa-angle-right float-right font-lg"></i></a>
          </div>
        </div>
      </div>
      <div  (click)="feedNormal2(4)" class="col-6 col-lg-4">
        <div class="card">
          <div style="background-color:#3cb371;"  class="card-body p-3 clearfix">
            <i style="background-color:#3cb371; color:#FFFFFF;"  class="fa fa-check p-1 font-5xl mr-3 float-left"></i>
            <div style=" color:#FFFFFF;"  class="h2 mb-0 mt-2">Completed : {{complate}}</div>
            
            <div style=" color:#FFFFFF;" class=" text-uppercase font-weight-bold font-xs">เสร็จสิ้น</div>
          </div>
          <div class="card-footer px-3 py-2">
            <a class="font-weight-bold font-xs btn-block text-muted">All Completed Status <i class="fa fa-angle-right float-right font-lg"></i></a>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div  (click)="feedNormal2(0)" class="col-6 col-lg-4">
        <div class="card">
          <div style="background-color:#777777;"  class="card-body p-3 clearfix">
            <i style="background-color:#777777; color:#FFFFFF;"  class="fa fa-close  p-1 font-5xl mr-3 float-left"></i>
            <div style=" color:#FFFFFF;"  class="h2 mb-0 mt-2">Cancel : {{cancel}}</div>
            <div style=" color:#FFFFFF;" class="text-uppercase font-weight-bold font-xs">ยกเลิก</div>
          </div>
          <div class="card-footer px-3 py-2">
            <a class="font-weight-bold font-xs btn-block text-muted">All Cancel Status <i class="fa fa-angle-right float-right font-lg"></i></a>
          </div>
        </div>
      </div>
      <div  (click)="feedNormal2(1)" class="col-6 col-lg-4">
        <div class="card">
          <div style="background-color:#d9544f;"  class="card-body p-3 clearfix">
            <i style="background-color:#d9544f; color:#FFFFFF;"  class="fa fa-thumbs-o-down  p-1 font-5xl mr-3 float-left"></i>
            <div style=" color:#FFFFFF;"  class="h2 mb-0 mt-2">Rejected : {{reject}}</div>
            <div style=" color:#FFFFFF;" class=" text-uppercase font-weight-bold font-xs">ไม่อนุมัติ</div>
          </div>
          <div class="card-footer px-3 py-2">
            <a class="font-weight-bold font-xs btn-block text-muted">All Rejected Status <i class="fa fa-angle-right float-right font-lg"></i></a>
          </div>
        </div>
      </div>
      <div  (click)="feedNormal2(5)" class="col-6 col-lg-4">
        <div class="card">
          <div style="background-color:#71d398;"  class="card-body p-3 clearfix">
            <i style="background-color:#71d398; color:#FFFFFF;"  class="fa fa-archive  p-1 font-5xl mr-3 float-left"></i>
            <div style=" color:#FFFFFF;"  class="h2 mb-0 mt-2">Closed : {{close}}</div>
            <div style=" color:#FFFFFF;" class=" text-uppercase font-weight-bold font-xs">ปิด</div>
          </div>
          <div class="card-footer px-3 py-2">
            <a class="font-weight-bold font-xs btn-block text-muted">All Closed Status <i class="fa fa-angle-right float-right font-lg"></i></a>
          </div>
        </div>
      </div>
      <!--/.col-->

  
    <div class="col-lg-12">

      <div class="card">
        <!-- Large modal -->
        <div class="card-header">
          <i class="fa fa-align-justify"></i>สวัสดี {{name}}
        </div>
        <div class="card-body" style="overflow-x:auto;">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <td><strong>ชื่อโครงการ</strong></td>
                <!-- <td>เอกสารโครงการ</td> -->
                <td><strong>วันที่ขอ</strong></td>
                <td><strong>ชื่อผู้ขอ</strong></td>
                <td><strong>ตำแหน่งผู้ขอใช้รถ</strong></td>
                <td><strong>สังกัด</strong></td>
                <td><strong>วันเวลาที่ขอใช้รถ</strong></td>
                <td><strong>ถึงวันที่</strong></td>
                <td><strong>วัตถุประสงค์</strong></td>
                <td><strong>ประเภทรถ</strong></td>
                <td><strong>เบอร์ติดต่อกลับ</strong></td>
                <td><strong>สถานะ</strong></td>
                <td><strong>Action</strong></td>
              </tr>
            </thead>
            <tbody>
  
              <tr *ngFor="let data of DataBus">
  
                <td>{{data.projectname}}</td>
                <!-- <td><img  src="http://cherryproject.store/cherry_api/public/upload/book/{{data.headlines}}" alt="" border=3 height=360 width=240 ></td> -->
                <td>{{data.projectdate}}</td>
                <td>{{data.name}}</td>
                <td>{{data.position}}</td>
                <td>{{data.responsible}}</td>
                <td>{{data.start_date}}||{{data.timestart}}</td>
                <td>{{data.end_date}}||{{data.timesend}}</td>
                <td>{{data.objective}}</td>
                <td>{{data.cartype}}</td>
                <td>{{data.phonenumber}}</td>
                <td ><span>{{data.status  ==  "2" ? "New":data.status == "3" ? "Approve": data.status == "4" ? "Complate" : data.status == "5" ? "Closed" :data.status=="1" ?"Reject": "Cancel" }}</span> </td>
                
  
  
                <td>
                  <button class="badge badge-success" type="button" (click)="viewedit(data)">ดูรายละเอียด</button>
                  <!-- <button (click)='changeStatus(data)' type="button" [ngClass]="classButton">{{data.status == "2" ? "ยกเลิกการอนุมัติ" : "อนุมัติ"}}</button> -->
                </td>
              </tr>
            </tbody>
          </table>
          
          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Modal</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <img  src="http://cherryproject.store/cherry_api/public/upload/book/{{data.filename}}" alt="" border=3>
          </ng-template>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  
</div>
